@import url('https://fonts.googleapis.com/css2?family=Krub:ital,wght@0,200;0,400;0,700;1,200;1,400;1,700&display=swap');

body {
    font-family: 'Krub', sans-serif;
    font-size: 100%;
    margin: 0;
    background-color: whitesmoke;
}

@media (min-width: 720px) {
    body {
        font-size: 120%;
    }
}

#container {
    max-width: 800px;
    margin: 0 auto;
}

header, footer {
    text-align: center;
}

header h1 {
    font-size: min(8vw, 300%);
    font-weight: 200;
    color: crimson;
}

header nav ul {
    display: inline-block;
    margin: 0;
    padding: 0;
}

header nav li {
    list-style: none;
    display: inline-block;
}

header nav a {
    width: 6em;
}

header nav ul, main {
    background: white;
    box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.20);
}

header nav ul {
    width: 100%;
}

@media (min-width: 480px) {
    header nav ul {
        width: auto;
    }
}

nav a {
    display: inline-block;
    text-decoration: none;
    padding: 10px 10px 12px;
    color: #737373;
}

nav .active {
    color: crimson;
}

nav a:hover {
    background-color: crimson;
    color: white;
}

main {
    margin: -1.5em 0 1em;
    padding: 3em 2em 2em;
}

main > :last-child {
    margin-bottom: 0;
}

main > :first-child {
    margin-top: 0;
}

h1 {
    font-size: 120%;
}

h2 {
    font-size: 100%;
}

h1, h2 {
    margin-bottom: 0.5em;
}

a {
    color: crimson;
}

a:not(:hover) {
    text-decoration: none;
}

td {
    padding-right: 1em;
}

footer {
    font-size: 80%;
    color: #737373;
    margin-bottom: 2em;
}

.info {
    background: whitesmoke;
    color: #737373;
}

.error {
    background: #fff2f7;
    color: crimson;
}

.info, .error {
    padding: 1em 1.1em 1.1em;
}

/*
 * Tables are "collapsed" by default on small devices (< 640px),
 * except for "small" tables
 */

th, td {
    display: block;
}

.small-table th, .small-table td {
    display: table-cell;
}

.small-table tr > * {
    padding: 0.4em 0.8em;
}

.small-table tr:not(:last-child) > * {
    border-bottom: whitesmoke 2px solid;
}

.small-table tr > :last-child {
    padding-right: 0;
}

.small-table tr > :first-child {
    padding-left: 0;
}

tr > :first-child {
    padding-top: 0.4em;
}

tr > :last-child {
    padding-bottom: 0.4em;
}

tr:not(:last-child) > :last-child {
    border-bottom: whitesmoke 2px solid;
}

@media (min-width: 480px) {
    th, td {
        display: table-cell;
    }

    tr > * {
        padding: 0.4em 0.8em;
    }

    tr:not(:last-child) > * {
        border-bottom: whitesmoke 2px solid;
    }

    tr > :last-child {
        padding-right: 0;
    }

    tr > :first-child {
        padding-left: 0;
    }
}

th {
    text-align: left;
    vertical-align: top;
}

input, .button {
    font-size: inherit;
    font-family: inherit;
    padding: 0.4em;
    border: #737373 1px solid;
}

input[type=submit], .button {
    display: inline-block;
    background: crimson;
    padding: 0.4em 0.8em;
    color: white;
    border: crimson 1px solid;
}

input[type=submit]:hover, .button:hover {
    background: white;
    color: crimson;
}

.button {
    text-decoration: none;
    cursor: default;
}

.secondary {
    background: #737373;
    border-color: #737373;
}

.secondary:hover {
    color: #737373;
}

.grid-form {
    display: grid;
    grid-template-columns: auto;
    width: 100%;
}

.grid-form * input[type=text],
.grid-form * input[type=email] {
    display: block;
    box-sizing: border-box;
    width: 100%;
}

.grid-form > :nth-child(even):not(:last-child) {
    margin-bottom: 0.4em;
}

@media (min-width: 640px) {
    .grid-form {
        grid-template-columns: auto auto;
        grid-gap: 0.8em 1.2em;
        width: auto;
    }
    .grid-form > :nth-child(even):not(:last-child) {
        margin-bottom: 0;
    }
}

ul.plain {
    margin: 0;
    padding: 0;
}

ul.plain > li {
    list-style: none;
}

.padded-item {
    padding: 0.4em;
    display: inline-block;
}

.padded-label {
    padding: 0.4em 0;
}

.paragraph {
    margin: 1em 0;
}


/* layout of contacts pages */

#contacts {
    display: flex;
    flex-direction: column-reverse;
    gap: 2em;
}

#contacts > :last-child {
    flex-grow: 1;
}

#contacts nav li:not(:last-child) {
    border-bottom: whitesmoke 2px solid;
}

#contacts nav a {
    display: block;
    padding: 0.4em 0.8em;
}

@media (min-width: 640px) {
    #contacts {
        flex-direction: row;
    }
}

#contacts table {
    width: 100%;
}

#contact-search form {
    margin-bottom: 1.6em;
    display: flex;
    justify-content: end;
    gap: 0.5em;
}

#contact-search form :first-child {
    flex-grow: 1;
}

@media (min-width: 480px) {
    #contact-search form :first-child {
        flex-grow: 0;
        width: 10em;
    }
}

mark {
    border-radius: 5px;
    padding: 0 1px;
}
